<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peng.zhi.liu.mapper.CommentMapper">
    <insert id="addCommentMapper">
        insert into user_comment(user_id, dish_id, content, create_time, update_time, user_name, avatar_url)
                    values(#{userId},#{dishId},#{content},#{createTime},#{updateTime},#{userName},#{avatarUrl})
    </insert>

    <!-- 评论分页查询 -->
    <select id="commentPageMapper" parameterType="peng.zhi.liu.dto.CommentPageDTO" resultType="peng.zhi.liu.vo.CommentPageVO">
        select
            uc.id,
            uc.user_id as userId,
            uc.dish_id as dishId,
            content,
            uc.status,
            dish.image_url,
            uc.like_count as likeCount,
            uc.user_name as name,
            uc.avatar_url,
            uc.update_time as updateTime
        from user_comment uc left join dish on dish.id = uc.dish_id
        <where>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
        </where>
        order by uc.update_time desc
    </select>
    <select id="userCommentPageMapper" resultType="peng.zhi.liu.vo.CommentPageVO">
        select
        uc.id,
        uc.user_id as userId,
        uc.dish_id as dishId,
        content,
        uc.status,
        uc.like_count as likeCount,
        uc.user_name as name,
        uc.avatar_url,
        uc.update_time as updateTime
        from user_comment uc
        <where>
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            and uc.status = 1
        </where>
        order by uc.update_time desc
    </select>

    <!-- 删除评论 -->
    <delete id="deleteCommentMapper" parameterType="java.lang.Long">
        delete from user_comment where id = #{id}
    </delete>

</mapper>