<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="peng.zhi.liu.mapper.UserMapper">
    <insert id="addUserMapper">
        insert into user(name, password, create_time, update_time)
                    values(#{name},#{password},#{createTime},#{updateTime})
    </insert>
    <update id="modifyUserMapper">
        update user
        <set>
            <if test="name != null">,name = #{name}</if>
            <if test="avatarUrl != null">,avatar_url = #{avatarUrl}</if>
            <if test="gender != null">,gender = #{gender}</if>
            <if test="phone != null">,phone = #{phone}</if>
            <if test="status != null">,status = #{status}</if>
            <if test="createTime != null">,create_time = #{createTime}</if>
            <if test="updateTime != null">,update_time = #{updateTime}</if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteUserMapper">
        delete from user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
     </delete>

    <select id="userPageMapper" resultType="peng.zhi.liu.vo.UserPageVO">
        select * from user 
        <where>
            <if test="keyWord!=null">name like concat('%',#{keyWord},'%')</if>
        </where>
        order by update_time desc
    </select>
    <select id="getUserInfoById" parameterType="java.lang.Long" resultType="peng.zhi.liu.vo.UserInfoVO">
        select * from user where id = #{id}
    </select>
    <select id="selectUserByName" resultType="peng.zhi.liu.entity.User">
        select * from user where name = #{name}
    </select>
    <select id="getUser" resultType="peng.zhi.liu.entity.User">
        select * from user
        <where>
            <if test="id!=null">and id = #{id}</if>
            <if test="name!=null">and name = #{name}</if>
            <if test="password!=null">and password = #{password}</if>
            <if test="avatarUrl!=null">and avatar_url = #{avatarUrl}</if>
            <if test="gender!=null">and gender = #{gender}</if>
            <if test="phone!=null">and phone = #{phone}</if>
            <if test="status!=null">and status = #{status}</if>
            <if test="createTime!=null">and create_time = #{createTime}</if>
            <if test="updateTime!=null">and update_time = #{updateTime}</if>
        </where>
    </select>
</mapper>
